html
  scroll-behavior: smooth

body
  margin: 0
  padding: 0
  height: 100%
  width: 100%
  overflow-x: hidden

#bg-img
  background-image: url("https://media.giphy.com/media/APpDVZAgC34xqaQbFR/giphy.gif")
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  object-fit: cover

#respon-img
  width: 100vw
  height: 40vh
  object-fit: cover

#zero
  border-radius: 50px
  display: block
  height: 300px
  width: 200px
  margin-left: auto
  margin-right: auto
  margin-bottom: 10px

#navtop
  position: relative
  color: red

.container-fluid
  text-align: center

.img-img
  height: 170px
  width: 250px

.img-des
  margin-top: 60px
  text-align: center
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background: transparent
  color: white
  visibility: hidden
  opacity: 0

.img-wrap
  position: relative
  height: 200px
  width: 257px


.img-wrap:hover > .img-des 
  visibility: visible
  opacity: 1
  text-decoration-color: white
    

#after-abt
  clear: both

#gallery
  color: white

.row
  height: auto
  width: auto
  margin: auto

#wrapper > .text
    margin-top: 25px
    font-size: 21px
    text-align: center

    -webkit-animation: fadein 5s
       -moz-animation: fadein 5s
        -ms-animation: fadein 5s
         -o-animation: fadein 5s
            animation: fadein 5s

.text
  font-size: 1rem

.backhome
    text-align: center
    clear: both
    margin-top: 80px

@keyframes fadein 
    0%
      opacity: 0
    100%
      opacity: 50
    


/* Firefox < 16 */
@-moz-keyframes fadein 
    0%
      opacity: 0
    100%
      opacity: 50
    

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein 
    0%
      opacity: 0
    100%
      opacity: 50
    

/* Internet Explorer */
@-ms-keyframes fadein 
    0%
      opacity: 0
    100%
      opacity: 50
    

/* Opera < 12.1 */
@-o-keyframes fadein 
    0%
      opacity: 0
    100%
      opacity: 50
    

/*# sourceMappingURL=style.css.map */

// @keyframes fadein 
//     from { opacity: 0; }
//     to   { opacity: 1; }
// }

// /* Firefox < 16 */
// @-moz-keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
// }

// /* Safari, Chrome and Opera > 12.1 */
// @-webkit-keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
// }

// /* Internet Explorer */
// @-ms-keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
// }

// /* Opera < 12.1 */
// @-o-keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
// }
